{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col"
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container responsive">
    <div class="row">
        <div class="col">
            <h2>Shopping Bag</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if bag_items %}
                {{bag_items}}
                <br><br>
                {{request.session.bag}}
            <div class="table">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product Info</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                            <th scope="col">Adjust</th>
                            <th scope="col">Remove</th>
                        </tr>
                    </thead>
                    {% for item in bag_items %}
                    <tr>
                        {% if item.product.image %}
                        <td>
                            <img class="img-responsive" src="{{ item.product.image.url }}">
                        </td>
                        {% else %}
                        <td>
                            <img class="img-responsive" src="{{ MEDIA_URL }}noimage.png">
                        </td>
                        {% endif %}
                        <td>
                            <p><strong>{{ item.product.name }}</strong></p>
                            <p><strong>Size: </strong>{% if item.product.has_sizes %}{{item.size }}{% else %}N/A{% endif %}</p>
                            <p>SKU: {{ item.product.sku|upper }}</p>
                        </td>
                        <td>
                            <p>{{ item.product.price }}</p>
                        </td>
                        <td>
                            <p>{% if item.quantity.items_by_size %}
                                {% for key in item.quantity.items_by_size %}
                                    {% if key == item.size %}
                                       {{ item.quantity.items_by_size }}
                                    {% endif %}
                                {% endfor %}
                               {% endif %}
                            </p>
                            <p>{{ item.quantity.items_by_size }}</p>
                        </td>
                        <td>
                            <p>{{ item.product.price }}</p>
                        </td>
                        <td>
                            <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input class="form-control" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99" data-item-id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}"/>
                                </div>
                                {% if item.product.has_sizes %}
                                <input type="hidden" name="product_size" value="{{ item.size }}">
                                {% endif %}
                                <button class="btn" type="submit">Change</button>
                            </form>
                        </td>
                        <td>
                            <a class="remove-item" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}"><span class="material-icons-outlined">delete</span></a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>
                            <h6><strong>Bag Total: {{ total|floatformat:2 }} Euro</strong></h6>
                            <h6>Delivery: {{ delivery|floatformat:2 }}</h6>
                            <h4><strong>Grand Total: {{ grand_total|floatformat:2 }}</strong></h4>
                            {% if free_delivery_delta > 0 %}
                            <p>
                                You could get free delivery by spending just <strong>{{ free_delivery_delta }} Euro</strong> more!
                            </p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="right">
                            <a href="{% url 'products' %}" class="btn">
                                <span class="material-icons-outlined">chevron_left</span>
                                <span>Keep Shopping</span>
                            </a>
                            <a class="btn">
                                <span class="material-icons-outlined">lock</span>
                                <span>Secure Checkout</span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <p>Your bag is empty.</p>
            <a href="{% url 'products' %}" class="btn">
                <span class="material-icons-outlined">chevron_left</span>
                <span>Keep Shopping</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    $('.update-link').click(function(e){
        var form = $(this).prev('.update-form');
        form.submit();
    })

    $('.remove-item').click(function(e){
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddelwaretoken': csrfToken, 'size': size};

        $.post(url, data)
         .done(function(){
             location.reload();
         })
    })
</script>
{% endblock %}