{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col"
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container responsive">
    <div class="row">
        <div class="col s12 center-align">
            <h4>Find local producers near you</h4>
            <form method="GET" id="store-search-form">
                {% csrf_token %}
                {{ county_store_filter.form }}
                <div class="form-group">
                    <div class="form-control input-field" id="navbar-search">
                        <button class="waves-effect waves-light btn-small" type="submit">
                            <i class="material-icons-outlined">search</i>
                        </button>
                    </div>
                </div>
              </form>
        </div>
    </div>
    <div class="row">
        <div class="local-seller-container col s12">
                {% for store in stores %}
                    <a href="{% url 'view_store' store.store_id %}">
                        <div class="card">
                            {% if store.image_url %}
                                <img class="card-img responsive" src="{{ store.image_url }}" alt="{{ store.name }}">
                            {% else %}
                                <img class="card-img responsive" src="{{ MEDIA_URL }}noimage.png" alt="{{ store.name }}"> 
                            {% endif %}
                            <div class="card-body">
                                <p class="center-align">{{ store.name }}</p>
                            </div>
                            <div class="card-footer">
                                    {% if store.organic %}
                                        <span class="new badge green" data-badge-caption="Organic"></span>
                                    {% endif %}
                            </div>
                        </div>
                    </a>
                {% endfor %}
    </div>
    <div class="row">
        <div class="col s12 m6">
            <h1>The fight to take back our food is on!</h1>
        </div>
        <div class="col s12 m6">
            <h4>
                <a href="{% url 'products' %}" class="btn">All Products</a>
            </h4>
            <h4>
                <a href="{% url 'all_stores' %}" class="btn">All Stores</a>
            </h4>
        </div>
    </div>
</div>
{% endblock %}