{% extends "base.html" %}
{% load static %}

{% block content %}
<h4>Find local producers near you</h4>
<form method="GET" id="store-search-form">
    {% csrf_token %}
    <div class="row">
        <div class="col s10 left">
            {{ county_store_filter.form }}
        </div>
        <div class="col s2 right">
            <div><br></div>
            <button class="waves-effect waves-light btn-small right" type="submit">
                <i class="material-icons-outlined">search</i>
            </button>
        </div>
    </div>
</form>
<div class="row">
    <div class="local-seller-container col s12">
        {% for store in stores %}
            <a href="{% url 'view_store' store.store_id %}">
                <div class="store-card center-align">
                    {% if store.organic %}
                        <span class="new badge green" data-badge-caption="Organic"></span>
                    {% endif %}
                    {% if store.image_url %}
                        <img class="card-img responsive" src="{{ store.image_url }}" alt="{{ store.name }}">
                    {% else %}
                        <img class="card-img responsive" src="{{ MEDIA_URL }}noimage.png" alt="{{ store.name }}"> 
                    {% endif %}
                    <div class="card-body">
                        <h5 class="store-name center-align">{{ store.name }}</h5>
                        <p class="store-county bold center-align">{{ store.county }}</p>
                    </div>
                </div>
            </a>
        {% empty %}
            <h3>Unfortunately there are no producers in your county.</h3>
        {% endfor %}
    </div>
</div>
{% endblock %}