{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profile/static/css/profile.css' %}"/>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<h1>Login</h1>
<span>Don't have an account? <a href="{% url 'signup' %}">Signup</a></span>
<form method="POST">
    {% csrf_token %}
    {% for field in form %}
        {{ field | as_crispy_field }}
    {% endfor %}
    <button class="btn-small" type="submit">Login</button>
</form>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_el.js' %}"></script>
{% endblock %}
