{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="row">
    <div class="col s12 m10">
        <div class="row">
            <hr>
            <h4 class="center-align">{{profile.user}}'s Profile</h4>
            <hr>
        </div>
        <div class="row">
            <p class="center-align">
                {% if store is not None %}
                    <a class="waves-effect waves-light btn-small" href="{% url 'view_store' store.store_id %}">My Store</a>
                {% else %}
                    <a class="waves-effect waves-light btn-small" href="{% url 'create_store' %}">Create Store</a>
                {% endif %}
                    <a class="waves-effect waves-light btn-small modal-trigger" href="#edit-personal-details">Edit Profile</a>
            </p>
        </div>
        <div class="row">
            <div class="col s12">
                <p class="center-align">Order History:</p>
                <div class="order-history table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                {% if order.user_profile == profile %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'order_history' order.order_number %}"
                                            title="{{ order.order_number }}">{{ order.order_number|truncatechars:6 }}</a>
                                        </td>
                                        <td>{{ order.date }}</td>
                                        <td>
                                            <ul>
                                                {% for item in order.lineitems.all %}
                                                <li class="small">
                                                    {% if item.product.has_sizes %}
                                                        Size {{item.product.size|upper}}
                                                    {% endif %}{{item.product.name}} x{{item.quantity}}
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                        <td>${{ order.grand_total }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m2">
        <div id="edit-personal-details" class="modal">
            <form action="{% url 'edit_profile' %}" method="POST" id="profile-update-form">
                <div class="modal-content">
                    <h5 class="center-align">Edit Profile</h5>
                    <p class="center-align">These delivery details will be used in your next order!</p>
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field | as_crispy_field }}
                    {% endfor %}
                    <div class="modal-footer">
                        <button class="btn-small" type="submit">Save</button>
                </div>
                </div>
            </form>
        </div>
        <div class="profile-details center-align">
            <h5>Delivery Information:</h5>
            <p>Name: {{ profile.shipping_name }}</p>
            <p>Phone: {{ profile.default_phone_number }}</p>
            <p>Address: {{ profile.default_street_address1 }}</p>
            <p>Town: {{ profile.default_town }}</p>
            <p>County: {{ profile.default_county}}</p>
            <p>Eircode: {{ profile.default_postcode }}</p>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}

    
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_el.js' %}"></script>
{% endblock %}
