{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="row">
    <div class="col s12 l6">
        <hr>
        <h2>Create Organisation</h2>
        <h5>Open a store on our marketplace.</h5>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col s12 l6">
        <form method="POST" action="{% url 'create_store' %}" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                    {% if field.name != 'image' %}
                        {{ field | as_crispy_field }}
                    {% else %}
                        {{ field }}
                    {% endif %}
            {% endfor %}
            <div class="right">
                <a class="waves-effect waves-light btn-small black" href="{% url 'view_profile' %}">Back to Profile</a>
                <button class="waves-effect waves-light btn-small black" type="submit">Create Organisation</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
    $('#new-image').change(function(){
        var file = $('#new-image')[0].files[0];
        $('#filename').text(`Image name will be set to ${file.name}`)
    });
    </script>
{% endblock %}
