{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profile/static/css/store.css' %}"/>
{% endblock %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class="row">
        <div class="col s12 m3">
                {% if store.image_url %}
                    <img src="{{ store.image_url }}" alt="{{ store.name }}" style="height: 250px; width: 250px;"/>
                {% else %}
                    <img class="card-img responsive" src="{{ MEDIA_URL }}noimage.png" alt="{{store.name}}">
                {% endif %}
        </div>
        <div class="col s12 m6 valign-wrapper">
            <h4 class="logo-font">{{store.name}}'s Store</h4>
        </div>
        <div class="col s12 m3">
            <div class="store-details">
                <h5>Contact Details</h5>
                <h6><small>Email: </small>{{ store.user }}</h6>
                <h6><small>Phone: </small>{{ store.phone_number }}</h6>
                <h6><small>Address: </small>{{ store.street_address1 }}</h6>
                <h6><small>Town: </small>{{ store.town }}</h6>
                <h6><small>County: </small>{{ store.county }}</h6>
                <h6><small>Eircode: </small>{{ store.postcode }}</h6>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="row">
                <p>Order History:</p>
                <div class="order-history table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in store_orders %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'order_history' order.order_number %}"
                                            title="{{ order.order_number }}">{{ order.order_number|truncatechars:6 }}</a>
                                        </td>
                                        <td>{{ order.date }}</td>
                                        <td>
                                            <ul>
                                                {% for item in order.lineitems.all %}
                                                <li class="small">
                                                    {% if item.product.has_sizes %}
                                                        Size {{item.product.size|upper}}
                                                    {% endif %}{{item.product.name}} x{{item.quantity}}
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                        <td>${{ order.grand_total }}</td>
                                    </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <p>Active Listings</p>
                <div class="container" id="seller-listings-grid">
                {% for product in store_products %}
                    <div class="card" id="listing-card">
                        {% if product.image_url %}
                        <a href="{% url 'product_detail' product.sku %}">
                            <img class="card-img responsive" src="{{ product.image_url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' product.sku %}">
                            <img class="card-img responsive" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body">
                            <p>{{ product.name }}</p>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col">
                                    <p>€{{ product.price }}</p>
                                    {% if product.category %}
                                    <a href="{% url 'products' %}?category={{ product.category.name }}">
                                        <span class="new badge black" data-badge-caption="{{ product.category.friendly_name }}"></span>
                                    </a>
                                    {% endif %}
                                    <br>
                                    {% if product.rating %}
                                        <small><span class="material-icons-outlined">star</span>{{ product.rating }} / 5</small>
                                    {% else %}
                                        <small>No Rating</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_el.js' %}"></script>
{% endblock %}
