{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class="row">
        <div class="col s12 l4 center-align">
            {% if store.image %}
                <img class="card-img responsive" src="{{ store.image.url }}" alt="{{ store.name }}"/>
            {% else %}
                <img class="card-img responsive" src="{{ MEDIA_URL }}noimage.png" alt="{{store.name}}">
            {% endif %}
        </div>
        <div class="col s12 l5">
            <div class="mobile-hr"><hr></div>
            <h4 class="center-align">{{store.name}}'s Store</h4><br>
            <p class="center-align">{{store.description}}</p>
        </div>
        <div class="col s12 l3">
            <div class="mobile-hr"><hr></div>
            <div class="store-details center-align">
                <h5>Location/Contact</h5>
                <h6><small>Email:</small>  {{ store.user }}</h6>
                <h6><small>Phone:</small>  {{ store.phone_number }}</h6>
                <h6><small>Address:</small>  {{ store.street_address1 }}</h6>
                <h6><small>Town:</small>  {{ store.town }}</h6>
                <h6><small>County:</small>  {{ store.county }}</h6>
                <h6><small>Eircode:</small>  {{ store.postcode }}</h6>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mobile-hr"><hr></div>
        <p class="center-align">Active Listings:</p>
        <div class="container" id="seller-listings-grid">
        {% for product in store_products %}
            <div class="product-card">
                <div class="card-header">
                    <a href="{% url 'product_detail' product.sku %}">
                        {% if product.image %}
                            <img class="card-img responsive" src="{{ product.image.url }}" alt="{{ product.name }}">
                        {% else %}
                            <img class="card-img responsive" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        {% endif %}
                    </a>
                </div>
                <div class="card-body">
                    {% if product.category %}
                        <a href="{% url 'products' %}?category={{ product.category.category_id }}">
                            <span class="new badge green category" data-badge-caption="{{ product.category.name }}"></span>
                        </a>
                        {% endif %}
                        {% if product.rating %}
                            <span class="new badge purple left" style="margin-top: 6px;" data-badge-caption="{{ product.rating }} / 5.0"></span>
                        {% else %}
                            <span class="new badge purple left" style="margin-top: 6px;" data-badge-caption="No Rating"></span>
                        {% endif %}
                </div>
                <div class="card-footer">
                    <h6 class="center-align">{{ product.name }}</h6>
                    <p class="center-align">€{{ product.price }}</p>
                </div>
            </div>
        {% empty %}
            <h5 class="center-align">This store is currently empty.</h5>
        {% endfor %}
    </div>
    <div class="row">
        <div class="mobile-hr"><hr></div>
        <div class="col s12">
            <div class="row">
                <p class="center-align">Order History:</p>
                <div class="order-history table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in store_orders %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'order_history' order.order_number %}"
                                            title="{{ order.order_number }}">{{ order.order_number|truncatechars:6 }}</a>
                                        </td>
                                        <td>{{ order.date }}</td>
                                        <td>
                                            <ul>
                                                {% for item in order.lineitems.all %}
                                                <li class="small">
                                                    {% if item.product.has_sizes %}
                                                        Size {{item.product.size|upper}}
                                                    {% endif %}{{item.product.name}} x{{item.quantity}}
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                        <td>${{ order.grand_total }}</td>
                                    </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

