{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class="row">
        <div class="col s12 l4">
            <p class="center-align">
                {% if store.image %}
                    <img class="card-img responsive" src="{{ store.image.url }}" alt="{{ store.name }}"/>
                {% else %}
                    <img class="card-img responsive" src="{{ MEDIA_URL }}noimage.png" alt="{{store.name}}">
                {% endif %}
            </p>
        </div>
        <div class="col s12 l5">
            <div class="mobile-hr"><hr></div>
            <h4 class="center-align">{{store.name}}'s Dashboard</h4><br>
            <p class="center-align">Store Bio:</p>
            <p class="center-align">{{store.description}}</p>
        </div>
        <div class="col s12 l3">
            <div class="mobile-hr"><hr></div>
            <p class="center-align">
                <a class="waves-effect waves-light btn-small" href="{% url 'seller_product_management' %}">Manage Products</a><br><br>
                <a class="waves-effect waves-light btn-small" href="{% url 'add_product' %}">Create Listing</a><br><br>
                <a class="waves-effect waves-light btn-small modal-trigger" href="#store-details">Store Details</a><br><br>
                <a class="waves-effect waves-light btn-small" href="{% url 'edit_store' store.store_id %}">Edit Store</a>
            </p>
        </div>
        <div id="store-details" class="modal">
            <div class="modal-content">
                <h4>{{ store.name }}'s Contact Details</h4>
                <h5><small>Email: </small>{{ store.user }}</h5>
                <h5><small>Phone: </small>{{ store.phone_number }}</h5>
                <h5><small>Address: </small>{{ store.street_address1 }}</h5>
                <h5><small>Town: </small>{{ store.town }}</h5>
                <h5><small>County: </small>{{ store.county }}</h5>
                <h5><small>Eircode: </small>{{ store.postcode }}</h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mobile-hr"><hr></div>
        <p class="center-align">Order History:</p>
        <div class="order-history table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Order Number</th>
                        <th>Date</th>
                        <th>Items</th>
                        <th>Order Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in store_orders %}
                        <tr>
                            <td>
                                <a href="{% url 'order_history' order.order_number %}"
                                title="{{ order.order_number }}">{{ order.order_number|truncatechars:6 }}</a>
                            </td>
                            <td>{{ order.date }}</td>
                            <td>
                                <ul>
                                    {% for item in order.lineitems.all %}
                                    <li class="small">
                                        {% if item.product.has_sizes %}
                                            Size {{item.product.size|upper}}
                                        {% endif %}{{item.product.name}} x{{item.quantity}}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>${{ order.grand_total }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="mobile-hr"><hr></div>
        <p class="center-align">Active Listings:</p>
        <div class="container" id="seller-listings-grid">
            {% for product in store_products %}
                <div class="product-card">
                    <div class="card-header">
                        <a href="{% url 'product_detail' product.sku %}">
                            {% if product.image %}
                                <img class="card-img responsive" src="{{ product.image.url }}" alt="{{ product.name }}">
                            {% else %}
                                <img class="card-img responsive" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                            {% endif %}
                        </a>
                    </div>
                    <div class="card-body">
                        {% if product.category %}
                            <a class="right" href="{% url 'products' %}?category={{ product.category.category_id }}">
                                <span class="new badge green category" data-badge-caption="{{ product.category.name }}"></span>
                            </a>
                            {% endif %}
                            {% if product.rating %}
                                <span class="new badge purple left" style="margin-top: 6px;" data-badge-caption="{{ product.rating }} / 5.0"></span>
                            {% else %}
                                <span class="new badge purple left" style="margin-top: 6px;" data-badge-caption="No Rating"></span>
                            {% endif %}
                    </div>
                    <br>
                    <div class="card-footer">
                        <h6 class="center-align">{{ product.name }}</h6>
                        <p class="center-align">€{{ product.price }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row center-align">
        <div class="mobile-hr"><hr></div>
        <a class="waves-effect waves-light btn-small red" href="{% url 'delete_store' store.store_id %}">Delete Store</a>
    </div>
{% endblock %}

{% block postloadjs %}

    
    
{% endblock %}
