{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profile/static/css/store.css' %}"/>
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class="row">
        <div class="col s12 l4">
            <p class="center-align">
                {% if store.image %}
                    <img src="{{ store.image }}" alt="{{ store.name }}" style="height: 250px; width: 250px;"/>
                {% else %}
                    <img class="card-img responsive" src="{{ MEDIA_URL }}noimage.png" alt="{{store.name}}" style="height: 250px; width: 250px;">
                {% endif %}
            </p>
        </div>
        <div class="col s12 l4">
            <h4 class="center-align">{{store.name}}'s Dashboard</h4>
        </div>
        <div class="col s12 l4">
            <p class="center-align">
                <a class="waves-effect waves-light btn-small" href="{% url 'add_product' %}">Create a Listing</a><br><br>
                <a class="waves-effect waves-light btn-small modal-trigger" href="#store-details">Store Details</a><br><br>
                <a class="waves-effect waves-light btn-small modal-trigger" href="#store-image-upload">Edit Contact</a>
            </p>
        </div>
        <div id="store-image-upload" class="modal">
            <form action="{% url 'edit_store' store.store_id %}" method="POST" id="store-update-form">
                <div class="modal-content">
                    <h4>Edit Store Profile</h4>
                    <p>These details will be accessible by all users.</p>
                </div>
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name != 'image' %}
                        {{ field | as_crispy_field }}
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <div class="modal-footer">
                    <button class="btn-small" type="submit">Save</button>
                </div>
            </form>
            <div class="input-field col s12">
                <select>
                  <option value="" disabled selected>Choose your option</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
                <label>Materialize Select</label>
              </div>
        </div>
        <div id="store-details" class="modal">
            <div class="modal-content">
                <h4>{{ store.name }}'s Contact Details</h4>
                <h5><small>Email: </small>{{ store.user }}</h5>
                <h5><small>Phone: </small>{{ store.phone_number }}</h5>
                <h5><small>Address: </small>{{ store.street_address1 }}</h5>
                <h5><small>Town: </small>{{ store.town }}</h5>
                <h5><small>County: </small>{{ store.county }}</h5>
                <h5><small>Eircode: </small>{{ store.postcode }}</h5>
            </div>
        </div>
    </div>
    <div class="row">
        <p class="center-align">Order History:</p>
        <div class="order-history table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Order Number</th>
                        <th>Date</th>
                        <th>Items</th>
                        <th>Order Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in store_orders %}
                        <tr>
                            <td>
                                <a href="{% url 'order_history' order.order_number %}"
                                title="{{ order.order_number }}">{{ order.order_number|truncatechars:6 }}</a>
                            </td>
                            <td>{{ order.date }}</td>
                            <td>
                                <ul>
                                    {% for item in order.lineitems.all %}
                                    <li class="small">
                                        {% if item.product.has_sizes %}
                                            Size {{item.product.size|upper}}
                                        {% endif %}{{item.product.name}} x{{item.quantity}}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>${{ order.grand_total }}</td>
                        </tr>
                    {% empty %}
                        <h5 class="center-align">No orders yet, such empty...</h5>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <p class="center-align">Active Listings</p>
        <div class="container" id="seller-listings-grid">
            {% for product in store_products %}
                <div class="product-card">
                    <a href="{% url 'product_detail' product.sku %}" style="color: black;">
                            <div class="card-header">
                                {% if product.image %}
                                    <img class="card-img responsive" src="{{ product.image }}" alt="{{ product.name }}">
                                {% else %}
                                    <img class="card-img responsive" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                {% endif %}
                            </div>
                        <div class="card-body">
                            {% if product.category %}
                                <a href="{% url 'products' %}?category={{ product.category.name }}">
                                    <span class="new badge green category" data-badge-caption="{{ product.category.name }}"></span>
                                </a>
                                {% endif %}
                                {% if product.rating %}
                                    <small><span class="material-icons-outlined gold">star</span>{{ product.rating }} / 5</small>
                                {% else %}
                                    <small>No Rating</small>
                                {% endif %}
                        </div>
                        <div class="card-footer">
                            <h6 class="center-align">{{ product.name }}</h6>
                            <p class="center-align">€{{ product.price }}</p>
                        </div>
                    </a>
                </div>
            {% empty %}
                <h5 class="center-align">This store hasn't added any products yet!</h5>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <a class="btn-small red" href="{% url 'delete_store' store.store_id %}">Delete Store</a>
    </div>
{% endblock %}

{% block postloadjs %}

    
    
{% endblock %}
