{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="overlay"></div>
<div class="row">
    {% if my_wishlist|length == 0 %}
        <h3 class="center-align">Your wishlist is empty.</h3>
        <p class="center-align">
            <a class="btn-small" href="{% url 'products' %}">Browse Products</a>
        </p>
    {% else %}
    <h5 class="center-align">Now showing items in your wishlist.</h5>
    <div class="wishlist-container col s12">
        {% for item in my_wishlist %}
            <div class="product-card">
                <a href="{% url 'product_detail' item.product.sku %}" style="color: black;">
                        <div class="card-header">
                            {% if item.product.image_url %}
                                <img class="card-img responsive" src="{{ item.product.image_url }}" alt="{{ item.product.name }}">
                            {% else %}
                                <img class="card-img responsive" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                            {% endif %}
                        </div>
                    <div class="card-body">
                        {% if item.product.category %}
                            <a href="{% url 'products' %}?category={{ item.product.category.name }}">
                                <span class="new badge green category" data-badge-caption="{{ item.product.category.name }}"></span>
                            </a>
                            {% endif %}
                            {% if item.product.rating %}
                                <small><span class="material-icons-outlined" style="color: gold;">star</span>{{ item.product.rating }} / 5</small>
                            {% else %}
                                <small>No Rating</small>
                            {% endif %}
                    </div>
                    <div class="card-footer">
                        <h6 class="center-align">{{ item.product.name }}</h6>
                        <p class="center-align">€{{ item.product.price }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}