html{
    height: 100%;
}

body{
    color: black;
    background-color: #a5d6a7;
    font-family: 'Lato', sans-serif;
}

header{
    background-color: #a5d6a7;
}

img{
    width: 100%;
    height: auto;
}

.nav-wrapper{
    background-color: #a5d6a7;
}

.brand-logo{
    font-family: 'Fjalla One', sans-serif;
    margin-left: 25px;
}

#main-nav{
    background-color: #a5d6a7;
    text-align: center;
}

#nav-list li{
    display: inline-block;
}

.dropdown-content li>a{
    color: white;
}

#nav-list{
    text-align: left;
}

#navbar-row{
    background-color: #a5d6a7;
    display: flex;
    justify-content: space-between;
}

#navbar-search{
    display: flex;
}

.desktop-only-item a{
    width: 100px;
}

.overlay {
    background-color: #a5d6a7;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	z-index: -1;
}

.container{
    margin: 0 10px 0 10px;
    max-width: 1280px;
    width: 90%;
}

form{
    background-color: #a5d6a7;
}

.logo-font {
    text-transform: uppercase;
    margin-bottom: 0px;
}

.login-form-container{
    display: flex;
    justify-content: center;
}

.select-wrapper{
    width: 100%;
}

#edit-personal-details{
    background-color: #eaeab4;
    border-radius: 8px;
}

#edit-personal-details form{
    background-color: #eaeab4;
}

.modal-footer{
    background-color: #eaeab4 !important;
}

#profile-update-form{
    margin: 0 25px 0 25px;
}

#store-image-upload{
    border-radius: 8px;
    background-color: #eaeab4;
}

#store-image-upload form{
    background-color: #eaeab4;
}

#store-update-form{
    margin: 0 25px 0 25px;
}

#store-details{
    border-radius: 8px;
    background-color: #eaeab4;
}

#store-details-content{
    margin: 25px;
}

.store-card{
    color: black;
    position: relative;
    width: 275px;
    height: 375px;
    border-radius: 8px;
    background-color: #eaeab4;
    border: 1px solid #e5e5e5;
}

.store-card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.store-card span{
    position: absolute;
    top: 10px;
    right: 10px;
}

.store-card img{
    width: 250px;
    height: 250px;
    margin-top: 10px;
    padding-top: 10px;
    border-radius: 50%;
    
}

.store-name{
    text-decoration: underline;
    overflow: visible;
}

.card{
    width: 250px;
    height: 400px;
}

.card img{
    width: 250px;
    height: 250px;
}

.product-card{
    width: 250px;
    height: 365px;
    border-radius: 8px;
    background-color: #eaeab4;
    border: 0.5px solid black;
    border-left: 1px solid black;
}

.product-card:hover{
    width: 250px;
    height: 365px;
    border-radius: 8px;
    background-color: #eaeab4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product-card a{
    color: black;
}

.product-card img{
    width: 248.5px;
    height: 250px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 0.5px solid black;
}

.card-body{
    background-color: #eaeab4;
}

.card-body a{
    padding-left: 5px;
}

.category{
    margin-top: 5px;
    margin-right: 10px;
}

#category-dropdown{
    background-color: #a5d6a7;
}

.dashboard-product-card{
    width: 250px;
    height: 450px;
}

.dashboard-product-card img{
    width: 250px;
    height: 250px;
}

#seller-listings-grid{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 0.75rem;
    justify-items: center;
}

.local-seller-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    gap: 0.75rem;
    justify-items: center;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 0.75rem;
    justify-items: center;
}

.wishlist-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 0.75rem;
    justify-items: center;
}

.admin-btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#product-detail-btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.seller-details img{
    width: 100px;
    height: auto;
    border: 0;
}

.checkout-image img{
    width: 125px;
    height: 125px;
}

.checkout-h6{
    font-weight: bold;
}

.seller-details-img{

}

.bag-image{
    width: 250px;
    height: auto;
}


/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #d8d8d8 inset !important;
}

::-webkit-input-placeholder {
    color: #361505;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    color: #361505;
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    color: #361505;
 }
 
 :-ms-input-placeholder {
    color: #361505;
 }

#id_product_size{
    display: block;
}

.remove-item{
    cursor: pointer;
}

/* Product form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"]{
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before{
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

.stripe-style-input{

}

#listing-card{

}

#profile-update-form .form-control {
    color: #000;
}

#profile-update-form input::placeholder{
    color: #aab7c4;
}

.order-history{
    max-height: 416px;
    overflow-y: auto;
}

.add-to-bag-form{
    width: 25%;
    margin: auto;
}

.mobile-bag{
    display: none;
}

.mobile-only-item{
    display: none;
}

@media (min-width: 1200px) {
    .container{
        max-width: 90%;
    }
}

@media (max-width: 1065px) {
    .desktop-only-item{
        display: none;
    }

    .mobile-only-item{
        display: block;
    }

}

@media (max-width: 1000px) {
    .hide-image{
        display:none;
    }

    table.responsive-table{
        display: none;
    }

    .mobile-bag{
        display: block;
    }
}

@media (max-width: 768px) {
    .select-wrapper{
        width: 100%;
    }

}


@media (max-width: 460px){
    .custom-only-item{
        display: none;
    }
}