<nav>
  <div class="nav-wrapper center-align" id="main-nav">
    <ul id="nav-list">
      <li>
        <a class="btn-small" href="{% url 'local_producers' %}">Local</a>
      </li>
      <li>
        <a class="btn-small" href="{% url 'all_stores' %}">All Stores</a>
      </li>
      <li class="mobile-only-item">
        <a class='dropdown-trigger btn-small' href='#' data-target='category-dropdown'>Categories</a>
        <ul class="dropdown-content" id="category-dropdown">
          {% for c in categories %}
            <li>
              <a class="btn-small" href="{% url 'products' %}?category={{ c.id }}">{{ c.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
      {% for c in categories %}
        <li class="desktop-only-item">
          <a class="btn-small" href="{% url 'products' %}?category={{ c.id }}">{{ c.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>