  <ul id="dropdown1" class="dropdown-content">
    {% if request.user.is_authenticated %}
      {% if request.user.is_superuser%}
          <li><a href="#!">Product Management</a></li>
      {% endif %}
        <li><a href="#!">My Profile</a></li>
        <li><a href="{% url 'account_logout' %}">Logout</a></li>
    {% else %}
      <li><a href="{% url 'account_signup' %}">Register</a></li>
      <li><a href="{% url 'account_login' %}">Login</a></li>
    {% endif %}
  </ul>
  <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Farm2Table</a> 
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="paintwork.html">Market</a></li>
          <li><a href="streetart.html">Producers</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="" class="dropdown-button" data-activates="dropdown1">My Account<i class="material-icons-right">arrow_drop_down</i></a></li>
          <li>
            <a>
              <div class="text-center">
                <div><i class="material-icons">cart</i></div>
                <p>
                  {% if grand_total %}
                    ${{ grand_total|floatformat:2}}
                  {% else %}
                    $0.00
                  {% endif %}
                </p>
              </div>
            </a>
          </li>
        </ul>
      </div>
  </nav>
  
  <ul class="sidenav" id="mobile-demo">
      <h2 class="brand-logo">Farm2Table/h2>
      <h4>Visual Artist</h4>
      <li><a href="paintwork.html">Market</a></li>
      <li><a href="streetart.html">Producers</a></li>
      <li><a href="contact.html">Contact</a></li>
  </ul>