{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col"
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container responsive">
    <div class="row">
        <div class="col s7">
            <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_GIyuXJ.json"  background="transparent"  speed="1"  style="width: 100%; height: auto;"  loop  autoplay></lottie-player>
        </div>
        <div class="col s5">
            <h3>Not Found</h3>
        </div>
    </div>
</div>
{% endblock %}