{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Farm2Table {% block extra_title %}{% endblock %}</title>

</head>
<body>

        <ul id="dropdown1" class="dropdown-content">
          {% if request.user.is_authenticated %}
            {% if request.user.is_superuser%}
                <li><a href="#!">Product Management</a></li>
            {% endif %}
              <li><a href="#!">My Profile</a></li>
              <li><a href="{% url 'account_logout' %}">Logout</a></li>
          {% else %}
            <li><a href="{% url 'account_signup' %}">Register</a></li>
            <li><a href="{% url 'account_login' %}">Login</a></li>
          {% endif %}
        </ul>
        <nav>
            <div class="nav-wrapper">
              <a href="#!" class="brand-logo">Farm2Table</a> 
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              <ul class="right hide-on-med-and-down">
                <li><a href="paintwork.html">Market</a></li>
                <li><a href="streetart.html">Producers</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="" class="dropdown-button" data-activates="dropdown1">My Account<i class="material-icons-right">arrow_drop_down</i></a></li>
                <li>
                  <a>
                    <div class="text-center">
                      <div><i class="material-icons">cart</i></div>
                      <p>
                        {% if grand_total %}
                          ${{ grand_total|floatformat:2}}
                        {% else %}
                          $0.00
                        {% endif %}
                      </p>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </nav>
        
          <ul class="sidenav" id="mobile-demo">
            <h2 class="brand-logo">Farm2Table/h2>
            <h4>Visual Artist</h4>
            <li><a href="paintwork.html">Market</a></li>
            <li><a href="streetart.html">Producers</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
   
    <header class="container"></header>

    {% if messages %}
    <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    <div class="container">
        {% block content %}
        
        {% endblock %}
    </div>

    {% block post_js %}
    {% endblock %}
    
</body>
</html>