{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Zen+Kaku+Gothic+Antique:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lato&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" type="text/javascript"></script>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js" type="text/javascript"></script>
        <script src="https://js.stripe.com/v3/" type="text/javascript"></script>
        <script src="{% static 'base.js' %}" type="text/javascript"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Farm2Table {% block extra_title %}{% endblock %}</title>

</head>
<body>
    <header class="container responsive" style="max-width:85%;margin:auto">
      <div class="row">  
        <nav>
            <div class="nav-wrapper">
                <a href="{% url 'home' %}" class="brand-logo"><span>THE</span><span style="color:black;">VEG</span><span>TABLE.ie</span></a>
                <a href="#" data-target="mobile-menu" class="sidenav-trigger">
                    <span class="material-icons-outlined">menu</span>
                </a>
                <ul class="right hide-on-med-and-down">
                    {% if request.user.is_authenticated %}
                            <li>
                                <a href="{% url 'view_profile' %}">My Profile</a>
                            </li>
                            <li>
                                <a href="{% url 'wishlist' %}">My Wishlist</a>
                            </li>
                            <li>
                                <a href="{% url 'logout' %}">Logout</a>
                            </li>
                            <li>
                                <a class="btn" href="{% url 'view_bag' %}">
                                    <span class="material-icons-outlined">shopping_cart</span>
                                    <span>
                                        {% if grand_total %}
                                        €{{ grand_total|floatformat:2 }}
                                        {% else %}
                                        €0.00
                                        {% endif %}
                                    </span>
                                </a>
                            </li>
                    {% else %}
                        <li>
                            <a href="{% url 'signup' %}">Register</a>
                        </li>
                        <li>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        
        <ul class="sidenav" id="mobile-menu">
            {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                    <li>
                        <a href="{% url 'seller_product_management' %}">Product Management</a>
                    </li>
                {% endif %}
                {% for store in stores %}
                    {% if store.user.user == request.user %}
                        <li>
                            <a href="{% url 'view_store' store.store_id %}">Store</a>
                        </li>
                    {% endif %}
                {% endfor %}
                    <li>
                        <a href="{% url 'view_profile' %}">Profile</a>
                    </li>
                    <li>
                        <a href="{% url 'wishlist' %}">Wishlist</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                    <li>
                        <a class='dropdown-trigger btn-small' href='#' data-target='shopping-cart-dropdown'>
                            <span class="material-icons-outlined">shopping_cart</span>
                        </a>
                        <ul class="dropdown-content" id="shopping-cart-dropdown">
                            <li>
                                <a href="{% url 'view_bag' %}">
                                    <div class="center-align">
                                        <div><span class="material-icons-outlined">shopping_cart</span></div>
                                        <p>
                                            {% if grand_total %}
                                            €{{ grand_total|floatformat:2 }}
                                            {% else %}
                                            €0.00
                                            {% endif %}
                                        </p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
            {% else %}
                <li>
                    <a href="{% url 'signup' %}">Register</a>
                </li>
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
    
      <div class="row" id="categories-row">
        {% include 'includes/main-nav.html' %}
      </div>
      <div class="row center" id="deliver-banner">
        <div class="col m12 black">
            <h5 style="color: white;">Free delivery on order over €{{ free_delivery_threshold }}</h5>
        </div>
      </div>
    </header>

    {% block page_header %}
    {% endblock %}

    <div class="container responsive" style="max-width:85%;margin:auto">
        {% block content %}
        
        {% endblock %}
    </div>

    {% block post_js %}
    {% endblock %}

    {% block postloadjs %}

    {% endblock %}

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <script>
                    M.toast({html: "{{ message }}", classes: 'green', displayLength:4000});
                </script>
            {% elif message.tags == 'info'%}
                <script>var info_html = '<div class="toast">'+
                    '    <div class="row">'+
                    '        <div class="col s12 toast-header">'+
                    '            <strong>Info!</strong>'+
                    '        </div>'+
                    '    </div>'+
                    '    <div class="row">'+
                    '        <div class="col s12 toast-body bg-white">'+
                    '            <div class="row">'+
                    '                <div class="col s12">'+
                    '                    {{ message }}'+
                    '                    <hr class="mt-1 mb-3">'+
                    '                </div>'+
                    '            </div>'+
                    '        </div>'+
                    '    </div>'+
                    '</div>';
                    M.toast({html: info_html, displayLength:4000});
                </script>
            {% elif message.tags == 'warning'%}
                <script>M.toast({html: "{{message}}", classes: 'orange', displayLength:4000});</script>
            {% elif message.tags == 'error'%}
                <script>M.toast({html: "{{message}}", classes: 'red', displayLength:4000});</script>
            {% elif message.level == 50 %}
            <script>
                var wishlist_html = '<div class="wishlist-modal">'+
                            '            <h4>{{ message }}</h4>'+
                            '        </div>';
                M.toast({html: wishlist_html, classes: 'gold', displayLength:4000});
            </script>
            {% elif message.level == 60 %}
            <script>
                var add_to_bag_html = '<div class="bag-modal">'+
                            '            <h4>{{ message }}</h4>'+
                            '            <p>Your Bag: ({{ product_count }}) Items</p>'+
                            '            <div class="bag-notification-wrapper">'+
                            '                {% for item in bag_items %}'+
                            '                    <div class="row">'+
                            '                        <div class="col s4">'+
                            '                            {% if item.product.image %}'+
                            '                                <img class="card-img" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">'+
                            '                            {% else %}'+
                            '                                <img class="card-img" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">'+
                            '                            {% endif %}'+
                            '                        </div>'+
                            '                        <div class="col s8 right">'+
                            '                            <p class="center-align"><strong>{{ item.product.name }}</strong></p>'+
                            '                            <p class="center-align">Size:'+
                            '                            {% if item.product.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</p>'+
                            '                            <p class="center-align">Qty: {{ item.quantity }}</p>'+
                            '                            <p class="center-align">Price: {{ item.price }}</p>'+
                            '                        </div>'+
                            '                    </div>'+
                            '                {% endfor %}'+
                            '            </div>'+
                            '        </div>';
                M.toast({html: add_to_bag_html, displayLength:4000});
            </script>
            {% endif %}
        {% endfor %}
    {% endif %}
    
</body>
</html>