{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://code.jquery.com/jquery-3.6.0.js" type="text/javascript" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" type="text/javascript"></script>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js" type="text/javascript"></script>
        <script src="https://js.stripe.com/v3/" type="text/javascript"></script>
        <script src="{% static 'base.js' %}" type="text/javascript"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Farm2Table {% block extra_title %}{% endblock %}</title>

</head>
<body>
    <header class="container responsive">
      <div class="row" id="navbar-row">
          <div class="col s12 m4">
              <a href="{% url 'home' %}" class="">
                  <h2>Farm2Table</h2>
              </a>
          </div>
          <div class="col s12 m4">
              <form method="GET" action="{% url 'products' %}">
                <div class="form-group">
                    <div class="form-control input-field" id="navbar-search">
                        <input type="text" id="search-nav" name="search-nav" placeholder="Start searching for the freshest produce"/>
                        <button class="waves-effect waves-light btn-small" type="submit">
                            <i class="material-icons-outlined">search</i>
                        </button>
                    </div>
                </div>
              </form>
          </div>
          <div class="col s12 m4">
            <a class='dropdown-trigger btn-small' href='#' data-target='user-dropdown'>
                <span class="material-icons-outlined">account_circle</span>
            </a>
            <ul id='user-dropdown' class='dropdown-content'>
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <li>
                            <a href="">Product Management</a>
                        </li>
                    {% endif %}
                        <li>
                            <a href="">My Profile</a>
                        </li>
                        <li>
                            <a href="{% url 'account_logout' %}">Logout</a>
                        </li>
                {% else %}
                    <li>
                        <a href="{% url 'account_signup' %}">Resgister</a>
                    </li>
                    <li>
                        <a href="{% url 'account_login' %}">Login</a> 
                    </li>
                {% endif %}
            </ul>
            <a class='dropdown-trigger btn-small' href='#' data-target='shopping-cart-dropdown'>
                <span class="material-icons-outlined">shopping_cart</span>
            </a>
            <ul class="dropdown-content" id="shopping-cart-dropdown">
                <li>
                    <a href="{% url 'view_bag' %}">
                        <div class="center-align">
                            <div><span class="material-icons-outlined">shopping_cart</span></div>
                            <p>
                                {% if grand_total %}
                                €{{ grand_total|floatformat:2 }}
                                {% else %}
                                €0.00
                                {% endif %}
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
          </div>
      </div>
      <div class="row" id="categories-row">
        {% include 'includes/main-nav.html' %}
      </div>
      <div class="row center" id="deliver-banner">
        <div class="col m12 black">
            <h4 style="color: white;">Free delivery on order over €{{ free_delivery_threshold }}</h4>
        </div>
      </div>
    </header>

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <script>M.toast({html: "{{message}}", classes: 'green', displayLength:2000});</script>
            {% elif message.tags == 'info'%}
                <script>M.toast({html: "{{message}}", classes: 'blue', displayLength:2000});</script>
            {% elif message.tags == 'warning'%}
                <script>M.toast({html: "{{message}}", classes: 'orange', displayLength:10000});</script>
            {% elif message.tags == 'error'%}
                <script>M.toast({html: "{{message}}", classes: 'red', displayLength:10000});</script>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% block page_header %}
    {% endblock %}

    <div class="container">
        {% block content %}
        
        {% endblock %}
    </div>

    {% block post_js %}
    {% endblock %}

    {% block postload_js %}

    {% endblock %}
    
</body>
</html>