{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col"
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container responsive">
    <div class="row">
        <div class="col">
            {% if current_categories %}
                {% for c in current_categories %}
                <h2>{{c.friendly_name}}</h2>
                {% endfor %}
            {% else %}
            <h2>Products</h2>
            {% endif %}
            
        </div>
    </div>
    <div class="row">
        <div class="product-container col">
            <div class="row">
                {% for product in products %}
                    <div class="col">
                        <div class="card">
                            {% if product.image %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img responsive" src="{{ product.image.url }}" alt="{{ product.name }}">
                            </a>
                            {% else %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img responsive" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                            </a>
                            {% endif %}
                            <div class="card-body">
                                <p>{{ product.name }}</p>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col">
                                        <p>€{{ product.price }}</p>
                                        {% if product.category %}
                                        <a href="{% url 'products' %}?category={{ product.category.name }}">
                                            <span class="new badge black" data-badge-caption="{{ product.category.friendly_name }}"></span>
                                        </a>
                                        {% endif %}
                                        <br>
                                        {% if product.rating %}
                                            <small><span class="material-icons-outlined">star</span>{{ product.rating }} / 5</small>
                                        {% else %}
                                            <small>No Rating</small>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}