{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col s12 m5">
        <div class="image-container center-align">
            {% if product.image_url %}
                <img class="card-img responsive" src="{{ product.image_url }}" alt="{{ product.name }}">
            {% else %}
                <img class="card-img responsive" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
            {% endif %}
            {% if current_user %}
                {% if wishlist_id is not None %}
                    <a class="wishlist-btn" href="{% url 'delete_from_wishlist' wishlist_id %}">
                        <span class="material-icons-outlined">
                            favorite
                        </span>
                    </a>
                    {% else %}
                    <a class="wishlist-btn" href="{% url 'add_to_wishlist' product.sku %}">
                        <span class="material-icons-outlined">
                            favorite_border
                        </span>
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="col s12 m4">
        <div class="product-details">
            <div class="col s6 left">
                {% if product.rating %}
                    <small><span class="material-icons-outlined">star</span>{{ product.rating }} / 5</small>
                {% else %}
                    <small><span class="material-icons-outlined">star</span>No Rating</small>
                {% endif %}
            </div>
            <div class="col s6 right">
                <a href="{% url 'products' %}?category={{ product.category.category_id }}">
                    <span class="new badge green" data-badge-caption="{{ product.category.name }}"></span>
                </a>
            </div>
            <br>
            <h4 class="center-align">{{ product.name }}</h4>
            <p class="center-align">€{{ product.price }}</p>
            <p class="center-align">Product Description:</p>
            <p class="center-align">{{ product.description }}</p>
            {% if current_user %}
                <form action="{% url 'add_to_bag' product.sku %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        {% with product.has_sizes as s %}
                            {% if s %}
                            <div class="col s12">
                                <p><strong>Size:</strong></p>
                                <select class="form-control" name="product_size" id="id_product_size">
                                    <option value="250">250g</option>
                                    <option value="500">500g</option>
                                    <option value="750">750g</option>
                                    <option value="1000">1kg</option>
                                    <option value="2000">2kg</option>
                                </select>
                            </div>
                            {% endif %}
                        <div class="col s12">
                            <p>Quantity:</p>
                            <div class="form-group">
                                <input class="form-control qty-input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.sku }}" id="id_qty_{{ product.sku }}">
                            </div>
                        </div>
                        <div class="col s12" id="product-detail-btn-container">
                            <input type="submit" class="btn-small" value="Add to Bag">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}"/>
                        {% endwith %}
                    </div>
                </form>
            {% else %}
                <h6>Signup or log in to purchase</h6>
                <a href="{% url 'signup' %}">Register</a>
                <span> Or </span>
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </div>
    <div class="col s12 m3">
        <div class="seller-details">
            <h5 class="center-align">Seller Details</h5>
            <p class="center-align">
                {% if store.image_url %}
                    <a href="{% url 'view_store' store.store_id %}">
                        <img class="card-img responsive" src="{{ store.image_url }}" alt="{{store.name}}"/>
                    </a>
                {% else %}
                    <a href="{% url 'view_store' store.store_id %}">
                        <img class="card-img responsive" src="{{ MEDIA_URL }}noimage.png" alt="{{store.name}}">
                    </a>
                {% endif %}
            </p>
            <p class="center-align">Store Name: <a href="{% url 'view_store' store.store_id %}">{{store.name}}</a></p>
            <p class="center-align">Email: {{store.email}}</p>
            <p class="center-align">Town: {{store.town}}</p>
            <p class="center-align">County: {{store.county}}</p>
        </div>
    </div>
</div>
{% endblock %}