{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col"
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container responsive">
    <div class="row">
        <a class="btn-small wishlist-btn" href="{% url 'add_to_wishlist' product.sku %}">Add To Wishlist</a>
    </div>
    <div class="row">
        <div class="col s12 m4">
            <div class="image-container">
                {% if product.image_url %}
                    <img class="card-img responsive" src="{{ product.image_url }}" alt="{{ product.name }}" style="width: 250px; height: 250px;">
                {% else %}
                    <img class="card-img responsive" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}" style="width: 250px; height: 250px;">
                {% endif %}
            </div>
        </div>
        <div class="col s12 m4">
            <div class="product-details">
                <p>{{ product.name }}</p>
                <p>€{{ product.price }}</p>
                <small>
                    <a href="{% url 'products' %}?category={{ product.category.name }}">
                        <span class="new badge black" data-badge-caption="{{ product.category.friendly_name }}"></span>
                    </a>
                </small>
                <br>
                {% if product.rating %}
                    <small><span class="material-icons-outlined">star</span>{{ product.rating }} / 5</small>
                {% else %}
                    <small>No Rating</small>
                {% endif %}
                <p>{{ product.description }}</p>
                <form action="{% url 'add_to_bag' product.sku %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        {% with product.has_sizes as s %}
                            {% if s %}
                            <div class="col s12">
                                <p><strong>Size:</strong></p>
                                <select class="form-control" name="product_size" id="id_product_size">
                                    <option value="250">250g</option>
                                    <option value="500">500g</option>
                                    <option value="750">750g</option>
                                    <option value="1000">1kg</option>
                                    <option value="2000">2kg</option>
                                </select>
                            </div>
                            {% endif %}
                        <div class="col s12">
                            <p>Quantity:</p>
                            <div class="form-group">
                                <input class="form-control qty-input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.sku }}" id="id_qty_{{ product.sku }}">
                            </div>
                        </div>
                        <div class="col s12" id="product-detail-btn-container">
                            <a href="{% url 'products' %}" class="btn-small">
                                <span class="material-icons-outlined">chevron_left</span>
                                <span>Keep Shopping</span>
                            </a>
                            <input type="submit" class="btn-small" value="Add to Bag">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}"/>
                        {% endwith %}
                    </div>
                </form>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="seller-details">
                <h5>Seller Details</h5>
                {% if store.image_url %}
                    <img src="{{ store.image_url }}" alt="{{store.name}}" style="width:42px;height:42px;border:0;"/>
                {% else %}
                    <img class="card-img responsive" src="{{ MEDIA_URL }}noimage.png" alt="{{store.name}}" style="width:42px;height:42px;border:0;">
                {% endif %}
                <p>Store Name: <a href="{% url 'view_store' store.store_id %}">{{store.name}}</a></p>
                <p>Email: {{store.email}}</p>
                <p>Town: {{store.town}}</p>
                <p>County: {{store.county}}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}