{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col"
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container responsive">
    <div class="row">
        <div class="col s12">
            {% if current_categories %} <!--Check to see if working-->
                {% for c in current_categories %}
                <h2>{{c.friendly_name}}</h2>
                {% endfor %}
            {% else %}
            <h2>Products</h2>
            {% endif %}
            
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <form method="GET" id="products-category-search-form">
                {% csrf_token %}
                {{ product_filter.form }}
                <button class="waves-effect waves-light btn-small" type="submit">
                    <i class="material-icons-outlined">search</i>
                </button>
            </form>            
        </div>
    </div>
    <div class="row">
        <div class="product-container col s12">
                {% for product in products %}
                    <div class="product-card">
                        <a href="{% url 'product_detail' product.sku %}" style="color: black;">
                                {% if product.image_url %}
                                <img class="card-img responsive" src="{{ product.image_url }}" alt="{{ product.name }}">
                            {% else %}
                                <img class="card-img responsive" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                            {% endif %}
                            <div class="card-body">
                                <p class="center-align">{{ product.name }}</p>
                            </div>
                            <div class="card-footer">
                                        <p class="center-align">€{{ product.price }}</p>
                                        {% if product.category %}
                                        <a href="{% url 'products' %}?category={{ product.category.name }}">
                                            <span class="new badge black" data-badge-caption="{{ product.category.name }}"></span>
                                        </a>
                                        {% endif %}
                                        <br>
                                        {% if product.rating %}
                                            <small><span class="material-icons-outlined">star</span>{{ product.rating }} / 5</small>
                                        {% else %}
                                            <small>No Rating</small>
                                        {% endif %}
                            </div>
                        </a>
                    </div>
                {% endfor %}
        </div>
    </div>
</div>
{% endblock %}