{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col"
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container responsive">
    <div class="row">
        <div class="col">
            <h2>{{ my_store.name }}'s Store</h2>
            <a class="btn-small" href="{% url 'add_product' %}">Create Listing</a>
        </div>
    </div>
    <div class="row">
        <div class="product-container col">
            <div class="row">
                {% if products|length == 0 %}
                <h3>Your Store Currently Has No Items.</h3>
                {% endif %}
                {% for product in products %}
                    {% if product.seller_store == my_store %}
                    <div class="col">
                        <div class="card">
                            {% if product.image %}
                            <a href="{% url 'product_detail' product.sku %}">
                                <img class="card-img responsive" src="{{ product.image.url }}" alt="{{ product.name }}">
                            </a>
                            {% else %}
                            <a href="{% url 'product_detail' product.sku %}">
                                <img class="card-img responsive" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                            </a>
                            {% endif %}
                            <div class="card-body">
                                <p>{{ product.name }}</p>
                                <a class="btn-small" href="{% url 'delete_product' product.sku %}">
                                    <span class="material-icons-outlined">delete</span>
                                </a>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col">
                                        <p>€{{ product.price }}</p>
                                        {% if product.category %}
                                        <a href="{% url 'products' %}?category={{ product.category.name }}">
                                            <span class="new badge black" data-badge-caption="{{ product.category.friendly_name }}"></span>
                                        </a>
                                        {% endif %}
                                        <br>
                                        {% if product.rating %}
                                            <small><span class="material-icons-outlined">star</span>{{ product.rating }} / 5</small>
                                        {% else %}
                                            <small>No Rating</small>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}